*
!.gitignore
!smolvla_openarm_synth_v1/
!smolvla_openarm_synth_v1/.gitkeep
!smolvla_openarm_synth_v2/
!smolvla_openarm_synth_v2/.gitkeep
!smolvla_openarm_success_filtered/
!smolvla_openarm_success_filtered/.gitkeep
!smolvla_openarm_success_filtered_extra10000/
!smolvla_openarm_success_filtered_extra10000/.gitkeep
!smolvla_openarm_success_filtered_14000/
!smolvla_openarm_success_filtered_14000/.gitkeep
